DICTIONARY

In [20]:
hostel = {
    "Navdeep":"H-18",
    "Satyam":"NBH-307",
    "Prashant":"NBH-307",
    "Dipanshu":"NBH_305",
    "Pravesh":"H-204"
}

hostel["Navdeep"] = "TEJ-123"

In [21]:
print(hostel.items())
hostel["Harsh"] = "NBH-305"
hostel

dict_items([('Navdeep', 'TEJ-123'), ('Satyam', 'NBH-307'), ('Prashant', 'NBH-307'), ('Dipanshu', 'NBH_305'), ('Pravesh', 'H-204')])

{'Navdeep': 'TEJ-123',
 'Satyam': 'NBH-307',
 'Prashant': 'NBH-307',
 'Dipanshu': 'NBH_305',
 'Pravesh': 'H-204',
 'Harsh': 'NBH-305'}

In [18]:
a,b,c,d = (1,2,3,4)
print(type(a))
z = 1,2,3,4
print(type(z))

<class 'int'>
<class 'tuple'>

Arithmatic Operators

In [22]:
x = 2
y = 3

In [ ]:
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x**y)
print(x//y)

5
-1
6
0.6666666666666666
2
8
0

Assignment operators

In [32]:
x = 5
x += 3
x -= 3
x *= 3

Bitwise Operators

In [34]:
lst = [1,3,4,5]
print(3 in lst)
print(2 in lst)

True
False

In [35]:
age = 14
if age >= 18:
    print("Eligible to vote")
elif age < 12:
    print("bachha hai")
else:
    print("Not eligible")

Not eligible

In [37]:
num = 3
if num % 2 == 0:
    print("even")
else:
    print("odd")

odd

In [40]:
marks = 80

if marks > 95:
    print("A+")
elif marks > 90:
    print("A")
elif marks >= 80:
    print("B")
else:
    print("C")

B

Loops

In [41]:
for i in range (10):
    print("Sir Sir Navdeep is abusing meeee")

Sir Sir Navdeep is abusing meeee
Sir Sir Navdeep is abusing meeee
Sir Sir Navdeep is abusing meeee
Sir Sir Navdeep is abusing meeee
Sir Sir Navdeep is abusing meeee
Sir Sir Navdeep is abusing meeee
Sir Sir Navdeep is abusing meeee
Sir Sir Navdeep is abusing meeee
Sir Sir Navdeep is abusing meeee
Sir Sir Navdeep is abusing meeee

In [42]:
ls = [1,2,3,4,5,5,6,7]
for i in ls:
    print(i)

1
2
3
4
5
5
6
7

In [51]:
for i in hostel:
    if i == "Dipanshu":break
    print(i,"->", hostel[i])

Navdeep -> TEJ-123
Satyam -> NBH-307
Prashant -> NBH-307

In [55]:
count = 1
while count <=6:
    print(count,end=" ")
    count+=1

1 2 3 4 5 6