Pandas - Laptop Price

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("laptopPrice.csv")

# Get first five values
df.head()

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
0,ASUS,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,34649,2 stars,3,0
1,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,38999,3 stars,65,5
2,Lenovo,Intel,Core i3,10th,4 GB,DDR4,0 GB,1024 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,39999,3 stars,8,1
3,ASUS,Intel,Core i5,10th,8 GB,DDR4,512 GB,0 GB,Windows,32-bit,2 GB,Casual,No warranty,No,No,69990,3 stars,0,0
4,ASUS,Intel,Celeron Dual,Not Available,4 GB,DDR4,0 GB,512 GB,Windows,64-bit,0 GB,Casual,No warranty,No,No,26990,3 stars,0,0

In [5]:
# Get Data sets information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 823 entries, 0 to 822
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   brand              823 non-null    object
 1   processor_brand    823 non-null    object
 2   processor_name     823 non-null    object
 3   processor_gnrtn    823 non-null    object
 4   ram_gb             823 non-null    object
 5   ram_type           823 non-null    object
 6   ssd                823 non-null    object
 7   hdd                823 non-null    object
 8   os                 823 non-null    object
 9   os_bit             823 non-null    object
 10  graphic_card_gb    823 non-null    object
 11  weight             823 non-null    object
 12  warranty           823 non-null    object
 13  Touchscreen        823 non-null    object
 14  msoffice           823 non-null    object
 15  Price              823 non-null    int64
 16  rating             823 non-null    object
 17  Number of Ratings  823 non-null    int64
 18  Number of Reviews  823 non-null    int64
dtypes: int64(3), object(16)
memory usage: 122.3+ KB

In [6]:
# Shows datatypes of all columns
df.dtypes

brand                object
processor_brand      object
processor_name       object
processor_gnrtn      object
ram_gb               object
ram_type             object
ssd                  object
hdd                  object
os                   object
os_bit               object
graphic_card_gb      object
weight               object
warranty             object
Touchscreen          object
msoffice             object
Price                 int64
rating               object
Number of Ratings     int64
Number of Reviews     int64
dtype: object

In [7]:
# Describes all the statistical elements of the datasets
df.describe()

               Price  Number of Ratings  Number of Reviews
count     823.000000         823.000000         823.000000
mean    76745.177400         315.301337          37.609964
std     45101.790525        1047.382654         121.728017
min     16990.000000           0.000000           0.000000
25%     46095.000000           0.000000           0.000000
50%     64990.000000          17.000000           2.000000
75%     89636.000000         139.500000          18.000000
max    441990.000000       15279.000000        1947.000000

In [8]:
# Get all the columns
df.columns

Index(['brand', 'processor_brand', 'processor_name', 'processor_gnrtn',
       'ram_gb', 'ram_type', 'ssd', 'hdd', 'os', 'os_bit', 'graphic_card_gb',
       'weight', 'warranty', 'Touchscreen', 'msoffice', 'Price', 'rating',
       'Number of Ratings', 'Number of Reviews'],
      dtype='object')

In [9]:
# Selects particular data types 
df.select_dtypes(exclude = object).head()

   Price  Number of Ratings  Number of Reviews
0  34649                  3                  0
1  38999                 65                  5
2  39999                  8                  1
3  69990                  0                  0
4  26990                  0                  0

In [10]:
# Get unique values
df["processor_brand"].unique()

array(['Intel', 'AMD', 'M1'], dtype=object)

In [11]:
# Get number of unique values
df["brand"].nunique()

8

In [12]:
# Get the number of totals values of specific element of a column
df["brand"].value_counts()

brand
ASUS      249
DELL      151
Lenovo    144
HP        136
acer       51
MSI        50
APPLE      28
Avita      14
Name: count, dtype: int64

In [13]:
# To get value or column values of specific feature
apple = df[df["brand"] == "APPLE"]
apple.head()

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
309,APPLE,Intel,Core i5,10th,8 GB,LPDDR4X,512 GB,0 GB,Mac,64-bit,0 GB,Casual,1 year,No,No,159990,4 stars,32,5
310,APPLE,Intel,Core i5,8th,8 GB,DDR3,512 GB,0 GB,Mac,64-bit,0 GB,Casual,1 year,No,No,172090,4 stars,108,13
407,APPLE,Intel,Core i5,10th,16 GB,LPDDR4X,1024 GB,0 GB,Mac,64-bit,0 GB,Casual,1 year,No,No,179990,4 stars,31,3
408,APPLE,Intel,Core i5,10th,16 GB,LPDDR4X,1024 GB,0 GB,Mac,64-bit,0 GB,Casual,1 year,No,No,179990,4 stars,91,5
599,APPLE,M1,M1,10th,8 GB,DDR4,256 GB,0 GB,Mac,64-bit,0 GB,Casual,1 year,No,No,85990,4 stars,6725,629

In [14]:
# Nested Feature Extraction
apple_m1_chip = apple[apple["processor_brand"] == "M1"]
apple_m1_chip.head()

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
599,APPLE,M1,M1,10th,8 GB,DDR4,256 GB,0 GB,Mac,64-bit,0 GB,Casual,1 year,No,No,85990,4 stars,6725,629
600,APPLE,M1,M1,10th,8 GB,DDR4,256 GB,0 GB,Mac,64-bit,0 GB,Casual,1 year,No,No,112990,4 stars,640,70
601,APPLE,M1,M1,10th,16 GB,DDR4,256 GB,0 GB,Mac,64-bit,0 GB,Casual,1 year,No,No,104990,4 stars,45,4
602,APPLE,M1,M1,10th,8 GB,DDR4,256 GB,0 GB,Mac,64-bit,0 GB,Casual,1 year,No,No,112990,4 stars,640,70
603,APPLE,M1,M1,10th,16 GB,DDR4,256 GB,0 GB,Mac,64-bit,0 GB,Casual,1 year,No,No,132990,4 stars,640,70

In [15]:
# Nested Feature Extraction
touchscreen = apple_m1_chip[apple_m1_chip["Touchscreen"] == "Yes"]
touchscreen

Empty DataFrame
Columns: [brand, processor_brand, processor_name, processor_gnrtn, ram_gb, ram_type, ssd, hdd, os, os_bit, graphic_card_gb, weight, warranty, Touchscreen, msoffice, Price, rating, Number of Ratings, Number of Reviews]
Index: []

In [17]:

# To print max value of that feature
max_price_of_apple_laptop= apple["Price"].max()
print(max_price_of_apple_laptop)

309990

In [18]:
# apple, intel,
Intel_Apple = apple[apple["processor_brand"] == "Intel"]
Intel_Apple_8GB = Intel_Apple[Intel_Apple["ram_gb"] == "8 GB"]
Intel_Apple_8GB_price_100000 = Intel_Apple_8GB[Intel_Apple_8GB["Price"] <= 100000]
Intel_Apple_8GB

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
309,APPLE,Intel,Core i5,10th,8 GB,LPDDR4X,512 GB,0 GB,Mac,64-bit,0 GB,Casual,1 year,No,No,159990,4 stars,32,5
310,APPLE,Intel,Core i5,8th,8 GB,DDR3,512 GB,0 GB,Mac,64-bit,0 GB,Casual,1 year,No,No,172090,4 stars,108,13

In [19]:
# asus, prcessor_gen = 10, ram_type = LPDDR3,os = windows, graphic card = 2gb, price < 120k
Asus = df[df["brand"] == "ASUS"]
Asus_10thgen = Asus[Asus["processor_gnrtn"] == "10th"]
Asus_10thgen_ramddr3 = Asus_10thgen[Asus_10thgen["ram_type"] == "LPDDR3"]
Asus_10thgen_ramddr3_windows = Asus_10thgen_ramddr3[Asus_10thgen_ramddr3["os"] == "Windows"]
Asus_10thgen_ramddr3_windows_graphic4 = Asus_10thgen_ramddr3_windows[Asus_10thgen_ramddr3_windows["graphic_card_gb"] == "2 GB"]
Asus_10thgen_ramddr3_windows_graphic4_price = Asus_10thgen_ramddr3_windows_graphic4[Asus_10thgen_ramddr3_windows_graphic4["Price"] <= 120000]
Asus_10thgen_ramddr3_windows_graphic4_price

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
381,ASUS,Intel,Core i5,10th,8 GB,LPDDR3,512 GB,0 GB,Windows,64-bit,2 GB,Casual,1 year,No,Yes,105990,5 stars,4,0

In [20]:
# brand = acer, ram =  8gb, processor name = intel,ssd <= 512gb,os windows,graphics = 4gb,touchscreen = no,price < 100k
Acer = df[df["brand"] == "acer"]
Acer = Acer[Acer["ram_gb"] == "8 GB"]
Acer = Acer[Acer["processor_brand"] == "Intel"]
Acer = Acer[Acer["ssd"] <= "512 GB"]
Acer = Acer[Acer["os"] == "Windows"]
Acer = Acer[Acer["graphic_card_gb"] == "4 GB"]
Acer = Acer[Acer["Touchscreen"] == "No"]
Acer = Acer[Acer["Price"] <= 70000]
Acer

,brand,processor_brand,processor_name,processor_gnrtn,ram_gb,ram_type,ssd,hdd,os,os_bit,graphic_card_gb,weight,warranty,Touchscreen,msoffice,Price,rating,Number of Ratings,Number of Reviews
196,acer,Intel,Core i5,Not Available,8 GB,DDR5,0 GB,512 GB,Windows,32-bit,4 GB,Casual,No warranty,No,No,50990,4 stars,10966,1185